<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}} | Plasma Scout</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">

    {{{metadata}}}
</head>

<body>
    <!-- Navigation Bar -->
    <div id="navigation"></div>

    <!-- Content -->
    <div id="content">
        <form id="dataEntry" method="POST">
            {{{formData}}}
        </form>
    </div>

    <!-- Scripts -->
    <script src="/js/default.js"></script>
</body>

</html>