<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}} | Plasma Scout</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/submit.css">

    {{{metadata}}}
</head>

<body>
    <!-- Navigation Bar -->
    <div id="navigation"></div>

    <!-- Submission Info -->
    <div id="submissionInfo">
      <p id="submissionTitle">Submission {{submissionInfo}}</p>
      <p id="submissionMessage">{{submissionMessage}}</p>
      <a id="submissionBack" href="{{back}}">Back</a>
    </div>

    <!-- Scripts -->
    <script src="/js/default.js"></script>
</body>

</html>